# 📌 SQL 데이터 분석 함수: COUNT, MAX, MIN, AVG

### 1. 전체 행(row) **개수** 구하기
-	회원 테이블(Member)의 총 행 개수(회원 수) 조회하기

    ```sql
    SELECT COUNT(*)
    FROM Member;
    ```

    - ✅ COUNT(*) → NULL 여부와 관계없이 모든 행 개수를 반환
    - ✅ 특정 컬럼을 지정할 경우 `NULL이 제외됨` (예: COUNT(height))

    <img src="/Users/jaechanjo/Desktop/code_it/4기_DA_강의자료/base_code/33_SQL로_하는_데이터_분석/img/16_height_NULL.png" style="max-width: 80%; height: auto;" alt="Height Null 그래프">

### 2. 특정 컬럼의 값 개수 구하기
-	이메일이 있는 회원 수 조회

    ```sql
    SELECT COUNT(email)
    FROM Member;
    ```

    - ✅ COUNT(email) → email 값이 NULL이 아닌 행의 개수만 반환
    - ✅ NULL 값을 제외하는 특징을 가짐

### 3. **최댓값 & 최솟값** 조회
-	회원들의 가장 큰 키(MAX)와 가장 작은 몸무게(MIN) 조회

    ```sql
    SELECT MAX(height) AS '최대키', MIN(weight) AS '최소몸무게'
    FROM Member;
    ```

    - ✅ MAX(height) → 가장 큰 키
    - ✅ MIN(weight) → 가장 작은 몸무게

### 4. **평균값** 구하기
-	회원들의 평균 몸무게(AVG) 구하기

    ```sql
    SELECT AVG(weight) AS '평균몸무게'
    FROM Member;
    ```

    - ✅ AVG(weight) → NULL이 아닌 값들만 포함하여 평균 계산 (걱정 X)

### 5. SQL 주요 데이터 분석 함수 정리

| 함수 | 설명 |
|------------|----------------------|
| `COUNT(*)` | 모든 행 개수 조회 (NULL 포함) |
| `COUNT(컬럼명)` | 해당 컬럼의 NULL이 아닌 값 개수 |
| `MAX(컬럼명)` | 특정 컬럼의 최댓값 |
| `MIN(컬럼명)` | 특정 컬럼의 최솟값 |
| `AVG(컬럼명)` | 특정 컬럼의 평균값 (NULL 제외) |

### 6. 실무 적용 팁
-	COUNT(*)는 가장 정확한 총 행 개수 조회 방법
-	AVG()는 NULL 값을 제외하므로, NULL 처리 여부를 미리 확인할 것
-	MAX(), MIN()을 활용하면 데이터의 경계값(최대/최소)를 빠르게 확인 가능

➡ SQL 함수로 데이터를 분석하면 핵심 정보를 쉽게 추출할 수 있음! 🚀

---

# 📌 SQL에서 NULL 처리하기

### 1. 특정 컬럼에서 NULL 값 조회
-	주소(address) 컬럼이 NULL인 회원 조회

    ```sql
    SELECT *
    FROM Member
    WHERE address IS NULL;
    ```

    - ✅ IS NULL → NULL 값을 가진 행만 조회

### 2. 특정 컬럼에서 NULL이 아닌 값 조회
-	주소(address) 컬럼이 NULL이 아닌 회원 조회

    ```sql
    SELECT *
    FROM Member
    WHERE address IS NOT NULL;
    ```

    - ✅ IS NOT NULL → NULL이 아닌 값이 있는 행만 조회
    - ✅ NULL 값이 있는 데이터 제외하고 분석할 때 유용함

### 3. 여러 컬럼에서 하나라도 NULL인 행 조회
-	키(height), 몸무게(weight), 주소(address) 중 하나라도 NULL인 회원 조회

    ```sql
    SELECT *
    FROM Member
    WHERE height IS NULL
    OR weight IS NULL
    OR address IS NULL;
    ```

    - ✅ OR 조건을 활용해 하나라도 NULL인 행 조회 가능
    - ✅ NULL 값이 포함된 데이터 확인 후 보완할 때 사용

### 4. NULL 값을 특정 문자열로 변환 (COALESCE)
-	NULL을 읽기 쉬운 값으로 변환해 출력

    ```sql
    SELECT
        COALESCE(height, '####') AS height,
        COALESCE(weight, '미입력') AS weight,
        COALESCE(address, '주소 없음') AS address
    FROM Member;
    ```

    - ✅ COALESCE(컬럼명, 대체값) → NULL이면 대체값 출력 (* COALESCE : 합치다)
    - ✅ NULL을 이해하기 쉬운 값으로 변환하여 공유 가능

![17_COALESCE_NULL.png](attachment:17_COALESCE_NULL.png)

### 5. SQL NULL 처리 방법 정리

| 사용법 | 설명 |
|------------------|--------------------------------|
| `IS NULL` | NULL 값을 가진 행 조회 |
| `IS NOT NULL` | NULL이 아닌 행 조회 |
| `COALESCE(컬럼명, 대체값)` | NULL을 특정 값으로 변환 |

### 6. 실무 적용 팁
-	NULL이 포함된 데이터는 분석 전 반드시 확인!
-	데이터 공유 시 NULL을 명확한 값으로 변환하는 것이 중요
-	COALESCE를 활용하면 `다른 직군과의 협업 시 가독성이 향상`됨

➡ NULL 처리를 잘하면 데이터 분석과 협업이 훨씬 수월해짐! 🚀

---

# 📌 SQL에서 이상한 값 제외하기

### 1. 잘못된 데이터가 분석에 미치는 영향
-	평균 나이 계산 오류 예제
    -	AVG(age)를 실행했을 때 평균 나이가 43세로 비정상적으로 높게 나옴
    -	이상한 값 (음수, 비정상적으로 큰 값)이 포함된 데이터 때문 (이상치, 잘못된 값)

### 2. 특정 범위 내 값만 필터링
-	나이(age)가 5세 이상 100세 이하인 데이터만 사용해 평균 계산

    ```sql
    SELECT AVG(age) AS 평균나이
    FROM Member
    WHERE age BETWEEN 5 AND 100;
    ```

    - ✅ BETWEEN 5 AND 100 → 나이가 5~100 사이인 데이터만 사용
    - ✅ 비정상적인 나이(음수, 비현실적 수치) 데이터 제외

### 3. 비정상적인 주소 필터링
-	정상적인 주소는 모두 “~호”로 끝남
-	정상 주소를 제외하고 비정상 주소 조회

    ```sql
    SELECT *
    FROM Member
    WHERE address NOT LIKE '%호';
    ```

    - ✅ LIKE '%호' → 주소가 “호”로 끝나는 경우
    - ✅ NOT LIKE '%호' → 주소가 “호”로 끝나지 않는 경우 (이상한 주소만 조회)

### 4. SQL 이상한 값 필터링 정리

| 사용법 | 설명 |
|----------------------|--------------------------------|
| `BETWEEN a AND b` | a 이상 b 이하의 범위 값 필터링 |
| `NOT LIKE '패턴%'` | 특정 패턴과 일치하지 않는 값 조회 |

### 5. 실무 적용 팁
-	데이터 분석 전, 이상한 값을 필터링하는 과정이 필수!
-	비정상적인 값이 포함되면 평균, 최대값, 최소값 등 왜곡될 가능성 큼
-	비정상적인 값이 있는 행을 먼저 조회 후, 처리하는 것이 중요

➡ SQL에서 `조건문을 잘 활용하면 이상한 데이터를 걸러내고` 분석의 신뢰도를 높일 수 있음! 🚀

---

# 📌 SQL에서 컬럼 연산하기: BMI 계산

### 1. BMI(체질량지수) 공식
-	BMI는 몸무게(kg)를 키(m)의 제곱으로 나눈 값
￼
-	SQL에서도 컬럼 값을 활용해 BMI를 계산할 수 있음.

### 2. BMI 계산하기
-	회원별 BMI 조회

	```sql
	SELECT
		email,
		height,
		weight,
		weight / POWER(height / 100, 2) AS BMI
	FROM Member;
	```

	- ✅ height / 100 → cm 단위를 m로 변환
	- ✅ POWER(값, 2) → 제곱 연산 (^2 대신 사용 가능)

### 3. SQL에서 컬럼 연산
-	SQL에서는 컬럼 간 산술 연산 가능 (like numpy : 단체 연산)
-	사용 가능한 연산자:

	| 연산자 | 설명 |
	|--------|----------------------|
	| `+`    | 더하기 |
	| `-`    | 빼기 |
	| `*`    | 곱하기 |
	| `/`    | 나누기 |
	| `%`    | 나머지 |

### 4. NULL이 포함된 연산의 결과
-	NULL 값이 포함되면 연산 결과도 NULL

	```sql
	SELECT
		email,
		height,
		weight,
		weight / POWER(height / 100, 2) AS BMI
	FROM Member
	WHERE height IS NOT NULL AND weight IS NOT NULL;
	```

	- ✅ NULL이 포함된 연산은 항상 NULL을 반환
	- ✅ BMI를 계산할 때 키(height) 또는 몸무게(weight)가 NULL이면 결과도 NULL

### 5. SQL 컬럼 연산 정리

| 개념 | 설명 |
|----------------|--------------------------|
| 컬럼 간 연산 | `height / 100`, `weight * 2` 등 가능 |
| NULL 포함 연산 | 하나라도 NULL이면 결과도 NULL |
| `POWER(x, 2)` | 제곱 계산 (x²) |

### 6. 실무 적용 팁
-	**NULL 값이 포함된 경우 대비해 미리 필터링(IS NOT NULL)하는 것**이 중요
-	컬럼 간 연산을 활용하면 데이터를 더욱 유용하게 가공 가능
-	BMI 같은 계산식은 데이터 분석 시 유용하게 활용될 수 있음

➡ SQL에서 컬럼 간 연산을 활용하면 데이터를 더욱 의미 있게 가공할 수 있음! 🚀

---

# 📌 SQL에서 Alias(별칭) 사용하기

### 1. 컬럼에 별칭(Alias) 적용하기
-	컬럼 이름이 너무 길거나 가독성이 떨어질 때, Alias(별칭)를 사용하면 편리함
-	AS 키워드를 사용하여 컬럼에 별칭을 붙일 수 있음

    ```sql
    SELECT
        height AS 키,
        weight AS 몸무게,
        weight / POWER(height / 100, 2) AS BMI
    FROM Member;
    ```

    - ✅ AS 키 → height 컬럼을 ‘키’로 변경
    - ✅ AS 몸무게 → weight 컬럼을 ‘몸무게’로 변경
    - ✅ AS BMI → BMI 계산 결과 컬럼에 ‘BMI’ 별칭 적용

### 2. Alias 사용법 요약
-	AS를 사용한 별칭 적용
-	공백( )만 사용해도 Alias 적용 가능 (`권장하지 않음 (늘 명시적인게 낫다!)`)

    ```sql
    SELECT
        height 키,
        weight 몸무게
    FROM Member; -- AS 없이도 가능하지만 가독성이 떨어짐
    ```

    - ✅ 되도록이면 AS를 사용하는 것이 가독성 면에서 유리함

### 3. 여러 컬럼을 하나로 합치기 (**CONCAT** 활용)
-	키와 몸무게를 하나의 컬럼으로 합치기

    ```sql
    SELECT
        CONCAT(height, 'cm, ', weight, 'kg') AS "키와 몸무게",
        weight / POWER(height / 100, 2) AS BMI
    FROM Member;
    ```

    - ✅ CONCAT(값1, 값2, 값3, ...) → 여러 값을 하나로 연결
    - ✅ 키와 몸무게를 하나의 컬럼으로 변환 후, Alias(AS "키와 몸무게") 적용 (* 한글이나 공백은 양쪽에 따옴표를 붙이기)

### 4. SQL Alias & CONCAT 정리

| 사용법 | 설명 |
|----------------------|--------------------------------|
| `컬럼명 AS 별칭` | 컬럼에 새로운 이름(Alias) 부여 |
| `CONCAT(값1, 값2, ...)` | 여러 값을 하나의 컬럼으로 결합 |

### 5. 실무 적용 팁
-	컬럼명이 길거나 계산식이 포함된 경우, Alias를 사용해 가독성을 높일 것
-	CONCAT을 활용하면 여러 컬럼 값을 합쳐서 하나의 컬럼으로 변환 가능
-	AS를 사용하지 않고 공백만으로 Alias 적용할 수 있지만, 가독성을 위해 AS 사용을 권장

➡ Alias와 CONCAT을 활용하면 SQL 결과를 더욱 직관적으로 정리할 수 있음! 🚀

---

# 📌 SQL에서 조건문(CASE) 활용하기: BMI 비만 여부 판단

### 1. CASE문이란?
-	CASE문을 사용하면 특정 조건에 따라 값을 변환할 수 있음 (cf. python에서 IF-ELSE 문과 유사)
    -	BMI 기준으로 비만 여부를 직접 표시하기

### 2. BMI를 기준으로 비만 여부 판단
-	회원별 BMI와 비만 여부 표시

    ```sql
    SELECT
        email,
        height,
        weight,
        weight / POWER((height/100), 2) AS 'BMI',
        (CASE
            WHEN height IS NULL OR weight IS NULL THEN '비만 여부 알 수 없음'
            WHEN weight / POWER((height/100), 2) >= 25 THEN '과체중 또는 비만'
            WHEN weight / POWER((height/100), 2) >= 18.5
                AND weight / POWER((height/100), 2) < 25 -- 없어도 됨.
                THEN '정상'
            ELSE '저체중'
        END) AS 'obesity_check'
    FROM copang_main.member
    ORDER BY obesity_check ASC -- 문자열 가독성 향상;
    ```

    - ✅ CASE → 조건을 설정하여 특정 값 반환
    - ✅ WHEN ... THEN ... → 각 조건에 따라 다른 값 설정
    - ✅ ELSE → 모든 조건에 해당되지 않는 경우 처리
    - ✅ END AS "obesity check" → 결과 컬럼에 Alias 적용

### 3. SQL CASE문 기본 구조

| 키워드 | 설명 |
|------------------|--------------------------------|
| `CASE` | 조건문 시작 |
| `WHEN 조건 THEN 결과` | 특정 조건이 만족될 경우 해당 결과 반환 |
| `ELSE 결과` | 모든 조건에 해당되지 않을 경우 기본값 반환 |
| `END AS 별칭` | 결과 컬럼에 별칭(Alias) 적용 |

### 4. 실무 적용 팁
-	CASE문을 활용하면 데이터를 사람이 쉽게 이해할 수 있는 형태로 변환 가능
-	Alias(AS)를 활용하면 컬럼명을 가독성 좋게 변경 가능
-	ORDER BY를 활용하여 변환된 데이터 기준으로 정렬하면 더 깔끔하게 조회 가능

➡ CASE문을 활용하면 데이터 가독성이 향상되고, 분석이 훨씬 쉬워짐! 🚀

---

# 📌 SQL에서 중복 제거: DISTINCT & 문자열 추출

### 1. **DISTINCT**란?
-	특정 컬럼에서 `중복된 값을 제거하고 고유한 값만 출력`할 때 사용
    -	예제: gender 컬럼의 고유값 조회

        ```sql
        SELECT DISTINCT(gender)
        FROM Member;
        ```

        - ✅ DISTINCT gender → 중복 제거 후 성별 값만 출력 (m, f 등)

### 2. 특정 컬럼에서 고유한 지역 값 조회
-	address 컬럼에는 상세 주소가 포함되어 있음 → 주요 지역(앞 두 글자)만 추출하여 고유값 조회
    -	SUBSTRING() 함수를 활용하여 앞 두 글자만 가져오기

        ```sql
        SELECT DISTINCT(SUBSTRING(address, 1, 2)) AS "주요 지역"
        FROM Member;
        ```

        - ✅ SUBSTRING(address, 1, 2) → 첫 번째 문자부터 2개 문자 추출
        - ✅ DISTINCT → 중복 제거 후 고유 지역명 출력

### 3. SQL DISTINCT & SUBSTRING 정리

| 사용법 | 설명 |
|---------------------------|--------------------------------------|
| `SELECT DISTINCT 컬럼명` | 특정 컬럼의 중복 제거 후 고유값 조회 |
| `SUBSTRING(컬럼명, 시작위치, 길이)` | 문자열에서 특정 부분 추출 |

### 4. 실무 적용 팁
-	DISTINCT를 사용하면 데이터셋에서 특정 컬럼에 어떤 값들이 존재하는지 쉽게 확인 가능
-	주소 같은 문자열 데이터에서 특정 패턴을 추출할 때 SUBSTRING() 활용
-	이상한 값(예: 잘못된 주소 입력)이 포함되어 있을 수 있으므로, 데이터 정제 과정 필요

➡ DISTINCT를 사용하면 컬럼의 고유값을 확인하고, SUBSTRING으로 원하는 부분만 추출할 수 있음! 🚀



- canva로 돌아가기!

---

# 📌 SQL에서 데이터 그룹핑 (GROUP BY) 활용하기

### 1. GROUP BY란?
-	같은 값을 가진 로우들을 하나의 그룹으로 묶음
-	각 그룹별로 COUNT, AVG, MIN 같은 집계 함수(Aggregate Function)를 적용 가능
    -	예제: 성별(gender)을 기준으로 회원을 그룹화하기

        ```sql
        SELECT gender
        FROM Member
        GROUP BY gender;
        ```

        - ✅ GROUP BY gender → 성별(gender) 컬럼 값을 기준으로 그룹화 (<> DISTINCT 결과값)

        ![18_GROUP_BY.png](attachment:18_GROUP_BY.png)

        ![19_GROUP_BY_2.png](attachment:19_GROUP_BY_2.png)

### 2. 각 성별 회원 수 구하기 (COUNT)
-	남성(m)과 여성(f) 회원이 각각 몇 명인지 조회

    ```sql
    SELECT gender, COUNT(*) AS 회원수
    FROM Member
    GROUP BY gender;
    ```

    - ✅ COUNT(*) → 각 그룹(성별)에 속한 행(row)의 개수를 반환
    - ✅ 결과: 남성 15명, 여성 9명

    ![20_GROUP_BY_COUNT.png](attachment:20_GROUP_BY_COUNT.png)

### 3. 각 성별의 평균 키 구하기 (AVG)
-	성별별 평균 키(height) 조회

    ```sql
    SELECT gender, AVG(height) AS 평균키
    FROM Member
    GROUP BY gender;
    ```

    - ✅ AVG(height) → 각 성별 그룹에서 평균 키 계산
    - ✅ NULL 값은 자동으로 제외됨

### 4. 각 성별에서 가장 몸무게가 적은 회원 찾기 (MIN)
-	성별별 최소 몸무게(weight) 조회

    ```sql
    SELECT gender, MIN(weight) AS 최소몸무게
    FROM Member
    GROUP BY gender;
    ```

    - ✅ MIN(weight) → 각 그룹에서 최소 몸무게 찾기

### 5. SQL GROUP BY & 집계 함수 정리

| 사용법 | 설명 |
|------------------|--------------------------------|
| `GROUP BY 컬럼명` | 해당 컬럼을 기준으로 데이터 그룹화 |
| `COUNT(*)` | 각 그룹의 행 개수 계산 |
| `AVG(컬럼명)` | 각 그룹의 평균값 계산 |
| `MIN(컬럼명)` | 각 그룹의 최솟값 계산 |

### 6. 실무 적용 팁
-	GROUP BY를 활용하면 데이터를 특정 기준으로 요약하여 분석 가능
-	집계 함수(집합 함수)는 GROUP BY와 함께 사용할 때 유용함
-	데이터를 그룹별로 분석할 때 필수적인 기능이므로 꼭 익혀야 함

➡ GROUP BY와 집계 함수(Aggregate Function)를 활용하면 데이터를 훨씬 더 쉽게 분석할 수 있음! 🚀

---

# 📌 SQL에서 다중 컬럼을 기준으로 그룹핑 (GROUP BY with Multiple Columns)

### 1. 특정 컬럼을 가공하여 그룹핑하기
-	회원의 주소(address)를 그대로 그룹핑하면 너무 세분화됨 → 주요 지역(앞 두 글자) 기준으로 그룹핑
-	SUBSTRING() 함수를 활용하여 주요 지역 추출 후 그룹핑 적용

	```sql
	SELECT
		SUBSTRING(address, 1, 2) AS region,
		COUNT(*) AS 회원수
	FROM Member
	GROUP BY region;
	```

	- ✅ SUBSTRING(address, 1, 2) AS region → 주소에서 주요 지역(앞 두 글자) 추출 후 Alias 적용
	- ✅ GROUP BY region → 주요 지역별로 회원 수 계산

### 2. 다중 컬럼을 기준으로 그룹핑하기
-	주소(주요 지역)뿐만 아니라 성별도 함께 그룹핑

	```sql
	SELECT
		SUBSTRING(address, 1, 2) AS region,
		gender,
		COUNT(*) AS 회원수
	FROM Member
	GROUP BY region, gender
	ORDER BY region ASC;
	```

	- ✅ GROUP BY region, gender → 지역과 성별을 동시에 그룹핑
	- ✅ 같은 지역이라도 성별에 따라 그룹이 분리됨 (+ 지역으로 정렬, 모아보기)

### 3. SQL 다중 GROUP BY 정리

| 사용법 | 설명 |
|---------------------------|--------------------------------------|
| `GROUP BY 컬럼1` | 특정 컬럼을 기준으로 그룹핑 |
| `GROUP BY 컬럼1, 컬럼2` | 두 개의 컬럼을 기준으로 그룹핑 (더 세분화) |
| `SUBSTRING(컬럼, 시작위치, 길이)` | 문자열 일부 추출하여 그룹핑 |

### 4. 실무 적용 팁
-	컬럼을 그대로 사용하지 않고 SUBSTRING() 등으로 가공하여 적절한 그룹 기준을 설정할 수 있음
-	GROUP BY에 여러 컬럼을 추가하면 더 세분화된 그룹을 생성 가능
-	그룹 기준을 늘릴수록 데이터 분석이 더 정교해짐 (예: 지역별 성별 회원 수 분석)

➡ GROUP BY를 활용하면 데이터를 더욱 의미 있게 분류하고 분석할 수 있음! 🚀

---

# 📌 SQL에서 HAVING과 GROUP BY 활용하기

### 1. 특정 그룹만 조회하기 (HAVING 사용)
-	GROUP BY를 사용하면 모든 그룹이 출력되지만, 특정 그룹만 보고 싶을 때 HAVING을 사용
    -	예제: 서울(region = '서울')인 그룹만 조회

        ```sql
        SELECT
            SUBSTRING(address, 1, 2) AS region,
            gender,
            COUNT(*) AS 회원수
        FROM Member
        GROUP BY region, gender
        HAVING region = '서울';
        ```

        - ✅ HAVING region = '서울' → 서울 그룹만 필터링

### 2. HAVING에 여러 조건 추가하기
-	서울 거주 + 남성(gender = '남자') 그룹만 조회

    ```sql
    SELECT
        SUBSTRING(address, 1, 2) AS region,
        gender,
        COUNT(*) AS 회원수
    FROM Member
    GROUP BY region, gender
    HAVING region = '서울' AND gender = 'm'; -- 남자
    ```

    - ✅ HAVING에 여러 조건을 추가할 수 있음
    - ✅ 서울에 사는 남성 회원 그룹만 출력

### 3. HAVING vs WHERE 차이점
-	`WHERE`는 원본 데이터에서 `행(row) 단위로` 필터링
-	`HAVING`은 그룹핑된 데이터에서 `그룹 단위로` 필터링

    ```sql
    -- WHERE는 그룹핑 전에 적용
    SELECT * FROM Member
    WHERE gender = 'm'; -- 남자

    -- HAVING은 그룹핑 후 적용
    SELECT gender, COUNT(*)
    FROM Member
    GROUP BY gender
    HAVING COUNT(*) > 10;
    ```

    | 구문 | 사용 목적 | 적용 시점 |
    |----------------|--------------------------|-----------------|
    | `WHERE` | 개별 행(Row) 필터링 | GROUP BY 이전 |
    | `HAVING` | 그룹(Group) 필터링 | GROUP BY 이후 |

### 4. NULL 값이 포함된 그룹 제외하기
-	NULL 값이 포함된 `그룹 제외` (행 제외시에는 WHERE)

    ```sql
    SELECT
        SUBSTRING(address, 1, 2) AS region,
        gender,
        COUNT(*) AS 회원수
    FROM Member
    GROUP BY region, gender
    HAVING region IS NOT NULL;
    ```

    - ✅ NULL이 있는 그룹은 제거됨

### 5. 그룹핑된 데이터 정렬하기
-	지역(region) 기준으로 오름차순 정렬 후, 같은 지역에서는 성별(gender) 기준 내림차순 정렬

    ```sql
    SELECT
        SUBSTRING(address, 1, 2) AS region,
        gender,
        COUNT(*) AS 회원수
    FROM Member
    GROUP BY region, gender
    HAVING region IS NOT NULL
    ORDER BY region ASC, gender DESC;
    ```

    - ✅ ORDER BY region ASC → 지역 기준 오름차순 정렬
    - ✅ ORDER BY gender DESC → 같은 지역 내에서는 성별 기준 내림차순 정렬

    ![21_HAVING.png](attachment:21_HAVING.png)

### 6. 실무 적용 팁
-	HAVING을 사용하면 `그룹 단위로 필터링 가능` (WHERE와 차이점 주의)
-	NULL이 포함된 그룹을 제외할 때는 HAVING 컬럼명 IS NOT NULL 사용
-	그룹핑 후에는 ORDER BY로 정렬하면 결과가 더욱 깔끔하게 정리됨

➡ HAVING과 GROUP BY를 활용하면 데이터 그룹 분석이 훨씬 쉬워짐! 🚀

- canva로 돌아가기!

---

# 📌 SQL에서 그룹별 총합 구하기: WITH ROLLUP 활용

### 1. WITH ROLLUP이란?
-	GROUP BY와 함께 사용하여 `부분 총계`를 자동으로 계산 (ROLLUP : 소매를 말아올리다)
-	세부 그룹의 합계를 자동으로 추가하여 계산을 편리하게 만듦
	-	예제: 지역(region)과 성별(gender) 그룹핑 후, 지역별 총 회원 수 출력

### 2. WITH ROLLUP 적용 전 (일반 GROUP BY)
-	지역과 성별을 기준으로 회원 수 계산

	```sql
	SELECT
		SUBSTRING(address, 1, 2) AS region,
		gender,
		COUNT(*) AS 회원수
	FROM Member
	GROUP BY region, gender;
	```

	- ✅ 각 지역 + 성별 조합에 따른 회원 수 출력
	- ✅ 지역별 총 회원 수는 따로 계산해야 함

### 3. WITH ROLLUP 적용 후 (부분 총계 포함)
-	`상위 기준`(지역)별 회원 수를 자동으로 계산하여 표시

	```sql
	SELECT
		SUBSTRING(address, 1, 2) AS region,
		gender,
		COUNT(*) AS 회원수
	FROM Member
	GROUP BY region, gender WITH ROLLUP;
	```

	- ✅ 기존 GROUP BY 결과에 추가로 ‘지역별 총합’을 포함하여 출력
	- ✅ gender 컬럼이 NULL인 행이 추가되며, 각 지역별 총 회원 수 자동 계산

### 4. WITH ROLLUP 실행 결과 예시

| region | gender | 회원수 | 비고 |
|--------|--------|------|------|
| 서울   | 남자   | 4    | |
| 서울   | 여자   | 1    | |
| 서울   | `NULL`   | 5    | `← 지역별 총합 (서울)` |
| 경기   | 남자   | 3    | |
| 경기   | 여자   | 3    | |
| 경기   | `NULL`   | 6    | `← 지역별 총합 (경기)` |
| 인천   | 남자   | 2    | |
| 인천   | 여자   | 2    | |
| 인천   | `NULL`   | 4    | `← 지역별 총합 (인천)` |

- ✅ gender 값이 NULL인 행 → 해당 지역(region)별 총합
- ✅ 부분 총계를 자동으로 계산하여 표시

### 5. SQL WITH ROLLUP 정리

| 사용법 | 설명 |
|---------------------------|--------------------------------------|
| `GROUP BY 컬럼1, 컬럼2` | 두 개의 컬럼을 기준으로 그룹핑 |
| `GROUP BY 컬럼1, 컬럼2 WITH ROLLUP` | 그룹핑 후, 부분 총계(상위 그룹의 합계) 포함 |

### 6. 실무 적용 팁
-	WITH ROLLUP을 활용하면 부분 총계를 자동으로 계산할 수 있어 매우 유용
-	그룹핑을 할 때 지역별, 카테고리별 총합이 필요한 경우 효과적
-	ROLLUP을 사용하면 SUM(), COUNT() 같은 함수와 함께 유용하게 활용 가능

➡ WITH ROLLUP을 사용하면 그룹핑된 데이터에서 자동으로 합계를 구할 수 있어 분석이 훨씬 쉬워짐! 🚀